<div class="container-fluid">
  <div class="full-page">
    <div class="row">
      <%= render "users/profile", user: @user %>
      <div class="col-md-8">
        <h3>フォロワーユーザー一覧</h3>
        <table>
          <thead>
            
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
