<div class="container-fluid">
  <div class="full-page">
    <div class="row">
      <%= render "users/profile", user: @user %>

      <div class="col-md-8">
        <h3>フォローユーザー一覧</h3>
        <table>
          <tr>
            <th>ユーザー画像</th>
            <th>ユーザー名</th>
            <th>フォロー数</th>
            <th>フォロワー数</th>
          </tr>

          <tr>
            <% @users.each do |user| %>
              <td><%= image_tag user.get_profile_image(100, 100) %></td>
              <td><%= user.name %></td>
            <%end%>
          </tr>

        </table>
      </div>
    </div>
  </div>
</div>
