<h1>プロフィール編集</h1>
<%= form_with model: @user do |f| %>
  <label for="inputName">名前</label>
  <%= f.text_field :name, autofocus: true, id: "inputName", placeholder: "名前" %>
  <label for= "inputimage">プロフィール画像</label>
  <%= f.file_field :profile_image, placeholder: "画像選択", accept: "image/*" %>
  <%= f.submit "変更を保存" %>
<%end%>